
#login {
      display: block;
    margin: 50;
    width: 25%;
    font-family: Arial, sans-serif;
    font-size: 34px;
    padding: 10px;
    margin-left: 500px;
    margin-top: 50px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

#textlabel{
    margin-left: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.upload{
    margin: 100px;
    margin-left: 600px;
    margin-top: 250px;
        margin-bottom: 50px;

}
#choose 
{
        margin-bottom: 50px;
}

.fontsetting{
        font-size: 25px;
}

